{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block main %} <!-- this is the name of the block below -->

 <h1>Accident Alert</h1>

<table>
  <tr>
    <th>User ID</th>
    <th>Status</th> 
  </tr>
  <tr>
    <td>0</td>
    <td id="userid_0" style="background-color:#82E0AA;">safe</td> 
  </tr>
  <tr>
    <td>1</td>
    <td id="userid_1" style="background-color:#82E0AA;">safe</td> 
  </tr>
  <tr>
    <td>2</td>
    <td id="userid_2" style="background-color:#82E0AA;">safe</td> 
  </tr>
</table>

<!-- Plotly chart will be drawn inside this DIV -->
<p>
  user ID:<input type="text" size="5" name="a">
  Number of Points:<input type="text" size="5" name="b"> 
</p> 
<p>
  <a href=# id="calculate">Plot trace</a>
</p>
<!--
<button onclick="makePlotly(data)">Click Me!</button>
-->
<div id="chart1"></div>

{% endblock %}


